body {
    background-color: #6F7356;
    font-family: Helvetica;
    font-size: 22px;
    width: 100%;
    line-height: 30px;
}


header {
    position: fixed;
    z-index: 1;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #3E402D;
    top: 0;
    left: 0;
    background-color: #A1A67C;
    text-align: center;
    align-content: center;
    opacity: 0.8;
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 70px; 
    align-items: center;
    }

nav a {
    color: black;
    transition: color 0.25s;
    position: relative;
    cursor: pointer;
    padding: 0.5rem 1 rem;
    font-size: 20px;
}

nav a::after {
    position: absolute;
    content: "";
    inset: 0;
    background-color: #F2E5BD;
    scale: 1.5 0;
    z-index: -1;
    transition: 0.45s;
    border-radius: 10px;
}

nav a:hover {
    color: Black;
}

nav a:hover::after {
    scale: 1.5 1.5;
}


h1 {
    text-align: center; 
}

h2 {
    text-align: center;
}

.header {
    height: 100px;
    background-size: cover;
    padding-top: 35px;    
}

.insideAbout {
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.5fr 0.4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 5px;
}

.myPhoto {
    width: 430px;
    height: 510px;
    justify-self: center;
    border-radius: 10%;
}

div div img {
   width: 100px;
    height: 100px;
    justify-self: center;
    border-radius: 10%;
    grid-area: 1 / 3 / 2 / 4; 
    
}

.div1 {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: center;
}

.div3 {
    grid-area: 2 / 2 / 3 / 3; 
    
}

.div1 ul {
    display: inline-grid;
    justify-self: center;
}

.div4 {
    grid-area: 2 / 3 / 3 / 4;
    
}

.skills {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;  
}





.skillsinside {
   grid-area: 1 / 2 / 2 / 3;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;  
    gap: 20px;
}

.skillsinside .skill {
    position: relative;
  width: 100px;
  height: 100px;
  background: #6F7356;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 45px;
  border-radius: 10%;
  
  
}
.skillsinside:hover .skill {
    transform: rotateY(25deg);
  }
  .skillsinside .skill:hover ~ .skill {
    transform: rotateY(-25deg);
  }
  .skillsinside .skill:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px #F2E5BD;
  }
  .skillsinside .skill .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .skillsinside .skill .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,#F2E5BD,#3E402D);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
  }
  .skillsinside .skill:hover .imgBx:before {
    opacity: 1;
  }
  .skillsinside .skill .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

#projects {
    margin-top: 100px;
}


