body {
    background-color: #6F7356;
    font-family: Helvetica;
    font-size: 22px;
    width: 100%;
    line-height: 30px;
}


header {
    position: fixed;
    z-index: 1;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #3E402D;
    top: 0;
    left: 0;
    background-color: #A1A67C;
    text-align: center;
    align-content: center;
    opacity: 0.8;
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 70px; 
    align-items: center;
    
    }

nav a {
    color: black;
    transition: color 0.25s;
    position: relative;
    cursor: pointer;
    padding: 0.5rem 1 rem;
    font-size: 20px;
    text-decoration: none;
}

nav a::after {
    position: absolute;
    content: "";
    inset: 0;
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#ffffff),
      to(#3E402D)
    );
    scale: 1.5 0;
    z-index: -1;
    transition: 0.45s;
    border-radius: 10px;
}


nav a:hover {
    color: #3E402D;
    
}

nav a:hover::after {
    scale: 1.5 1.5;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#ffffff),
        to(#3E402D)
     );
        
}



h1 {
    text-align: center; 
}

h2 {
    text-align: center;
}

.header {
    height: 100px;
    background-size: cover;
    padding-top: 35px;    
}

.insideAbout {
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.5fr 0.4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 5px;
}

.myPhoto {
    width: 303px;
    height: 403px;
    justify-self: center;
    border-radius: 10%;
    filter: brightness(60%);
}

div div img {
   width: 100px;
    height: 100px;
    justify-self: center;
    border-radius: 10%;
    
    
}

.cvButton {
    grid-area: 1 / 3 / 2 / 4; 
    text-align: center;
}

.div1 {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: center;
}

.div3 {
    grid-area: 2 / 2 / 3 / 3; 
    
}

.div1 ul {
    display: inline-grid;
    justify-self: center;
}

.div4 {
    grid-area: 2 / 3 / 3 / 4;
    
}

.skills {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;  
}





.skillsinside {
   grid-area: 1 / 2 / 2 / 3;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;  
    gap: 20px;
}

.skillsinside .skill {
    position: relative;
  width: 100px;
  height: 100px;
  background: #6F7356;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 45px;
  border-radius: 10%;
  
  
}
.skillsinside:hover .skill {
    transform: rotateY(25deg);
  }
  .skillsinside .skill:hover ~ .skill {
    transform: rotateY(-25deg);
  }
  .skillsinside .skill:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 0px 40px #F2E5BD;
  }
  .skillsinside .skill .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .skillsinside .skill .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,#F2E5BD,#3E402D);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
  }
  .skillsinside .skill:hover .imgBx:before {
    opacity: 1;
  }
  .skillsinside .skill .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

#projects {
    margin-top: 100px;
}




  
  /* ============= Begin Flexbox ============ */
  #flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    min-height: 480px;
    height: 110vh;
    max-width: 1000px;
    margin: auto;
    background-color: transparent;
   
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
  }
  
  #left-zone {
    height: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  
  #left-zone .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .item input {
    display: none;
  }
  
  label {
    display: block;
    opacity: 0.5;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: relative;
  }
  
  label:hover {
    opacity: 0.75;
    cursor: pointer;
  }
  
  .content-test {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    height: 50%;
    width: 100%;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: none;
  }
  
  .content-test p {
    max-width: 50%;
    text-align: center;
  }
  
  #right-zone {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    height: 50%;
  }
  
  input:checked ~ .content-test {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    opacity: 1;
  }
  
  
  .content_testimonial-1 .picto {
    height: 400px;
    width: 500px;
    background-image: url("./Pages/dasmoto.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .content_testimonial-1 h1 {
    color: #3E402D;
    text-align: center;
  }
  
  .content_testimonial-2 .picto {
    height: 400px;
    width: 500px;
    background-image: url("./Pages/styleGuide.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .content_testimonial-2 h1 {
    color: #3E402D;
  }
  
  .content_testimonial-3 .picto {
    height: 400px;
    width: 500px;
    background-image: url("./Pages/teaCozy.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .content_testimonial-3 h1 {
    color: #3E402D;
  }
  
  .content_testimonial-4 .picto {
    height: 400px;
    width: 500px;
    background-image: url("./Pages/VSexper.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .content_testimonial-4 h1 {
    color: #3E402D;
  }
  
  .content-test h1:first-letter {
    text-transform: uppercase;
  }
  
  input:checked ~ label {
    opacity: 1;
    -webkit-animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  
  input:checked ~ label.label_testimonial-1 {
    color: #F2E5BD;
    border-right: solid 4px #3E402D;
  }
  
  input:checked ~ label.label_testimonial-2 {
    color: #F2E5BD;
    border-right: solid 4px #3E402D;
  }
  
  input:checked ~ label.label_testimonial-3 {
    color: #F2E5BD;
    border-right: solid 4px #3E402D;
  }
  
  input:checked ~ label.label_testimonial-4 {
    color: #F2E5BD;
    border-right: solid 4px #3E402D;
  }
  
  label.label_testimonial-1:before {
    content: " ";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-image: url("./icons/check.png");
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
  
  label.label_testimonial-2:before {
    content: " ";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-image: url("./icons/check.png");
    background-position: center;
    background-size: 75% 75%;
    border-radius: 50%;
    background-repeat: no-repeat;
  }
  
  label.label_testimonial-3:before {
    content: " ";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-image: url("./icons/check.png");
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
  
  label.label_testimonial-4:before {
    content: " ";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-image: url("./icons/check.png");
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
  
  label:first-letter {
    text-transform: uppercase;
  }
  
  .label_testimonial-1:hover {
    background-image: -webkit-gradient (
      linear,
      left top,
      right top,
      from(#ffffff),
      to(#3E402D)
    );
    background-image: -webkit-linear-gradient(left, #ffffff, #3E402D);
    background-image: -o-linear-gradient(left, #ffffff, #3E402D);
    background-image: linear-gradient(to right, #ffffff, #3E402D);
    font-size: 1.2rem;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    transition: font-size 0.5s;
  }
  
  .label_testimonial-2:hover {
    background-image: -webkit-gradient (
      linear,
      left top,
      right top,
      from(#ffffff),
      to(#3E402D)
    );
    background-image: -webkit-linear-gradient(left, #ffffff, #3E402D);
    background-image: -o-linear-gradient(left, #ffffff, #3E402D);
    background-image: linear-gradient(to right, #ffffff, #3E402D);
    font-size: 1.2rem;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    transition: font-size 0.5s;
  }
  
  .label_testimonial-3:hover {
    background-image: -webkit-gradient (
      linear,
      left top,
      right top,
      from(#ffffff),
      to(#3E402D)
    );
    background-image: -webkit-linear-gradient(left, #ffffff, #3E402D);
    background-image: -o-linear-gradient(left, #ffffff, #3E402D);
    background-image: linear-gradient(to right, #ffffff, #3E402D);
    font-size: 1.2rem;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    transition: font-size 0.5s;
  }
  
  .label_testimonial-4:hover {
    background-image: -webkit-gradient (
      linear,
      left top,
      right top,
      from(#ffffff),
      to(#3E402D)
    );
    background-image: -webkit-linear-gradient(left, #ffffff, #3E402D);
    background-image: -o-linear-gradient(left, #ffffff, #3E402D);
    background-image: linear-gradient(to right, #ffffff, #3E402D);
    font-size: 1.2rem;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    transition: font-size 0.5s;
  }
  .item p {
    margin: 10px 0px;
  }
  .item h1 {
    margin-bottom: 0px;
  }
  
  .scrollToTopBtn {
    background-color: transparent;
    border: none;
    color: #F2E5BD;
    cursor: pointer;
    font-size: 30px;
    line-height: 60px;
    width: 60px;
  
    /* place it at the bottom right corner */
    position: fixed;
    bottom: 40px;
    right: 40px;
    /* keep it at the top of everything else */
    z-index: 100;
    /* hide with opacity */
    opacity: 0;
    /* also add a translate effect */
    transform: translateY(100px);
    /* and a transition */
    transition: all 0.5s ease;
  }
  
  .showBtn {
    opacity: 1;
    transform: translateY(0);
  }
  

  

#tilt {
    display: block;
    height: 403px;
    width: 303px;
    background-color: transparent;
    margin: 0 0;
    transition: box-shadow 0.1s, transform 0.1s;
    
    
  }
  
  #tilt:hover {
    box-shadow: 0px  0px 50px #F2E5BD;
    cursor: pointer;
    border-radius: 10%
  }


  footer {
    text-align: center;
    font-size: medium;
    color: #3E402D;
  }

.contacts {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: repeat(5, 0.5fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: space-around;   
}

.contactsInside {
    grid-area: 2 / 2 / 3 / 3;  
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around; 
    align-content: center;
}

.contactsInside button {
    background-color: transparent;
    border: none;
}

.contactsInside2 {
    grid-area: 4 / 2 / 5 / 3;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around; 
    align-content: center;
    flex-wrap: wrap;
}

#data {
    border-bottom: 2px solid #A1A67C;
}

  .conLogo {
    width: 75px;
    height: 75px;
  }

.conLogo:hover {
    background-color: #F2E5BD;
}


@media screen and (max-width: 926px) {
    #flex-container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      min-height: auto;
      height: 450px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  
    #left-zone .list {
      border-right: 2px solid transparent;
    }
  
    .content-test {
      width: 65%;
      height: 100%;
      pointer-events: auto;
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  
    #left-zone {
      width: 35%;
    }
  
    #right-zone {
      height: 100%;
      width: 65%;
    }

    div div img {
        width: 75%;
        height: 75%;
    }
    .conLogo {
        width: 75%;
        height: 75%;
    }

  }

  /* If the screen size is 480px or less */
  @media screen and (max-width: 480px) {
    .content_testimonial-1 .picto {
      padding-top: 100px;
    }
    .content_testimonial-2 .picto {
      padding-top: 100px;
    }
    .content_testimonial-3 .picto {
      padding-top: 100px;
    }
    .content_testimonial-4 .picto {
      padding-top: 100px;
    }
    .item > label {
      font-size: 1.3rem;
    }
    .conLogo {
        width: 50%;
        height: 50%;
    }
    h1 {
        font-size: 75%;
    }
    body {
        position: relative;
    }
    footer p {
        font-size: 60%;
    }
    div div img {
        width: 50%;
        height: 50%;
    }
  }


