.noto-sans {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }  

body {
    background-color: #0e0e0e;
    font-family: "Noto Sans", Georgia, serif;
    font-weight: 200;
    font-size: 22px;
    width: 100%;
    height: 100dvh;
    color: #fff;
    
}



header {
    position: fixed;
    z-index: 1;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #0e0e0e;
    background-color: #0e0e0e;
    top: 0;
    left: 0;
    text-align: center;
    align-content: center;
    opacity: 0.8;
}



nav {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 70px; 
    align-items: center;    
}

nav a {
    color: #fff;
    transition: color 0.25s;
    position: relative;
    cursor: pointer;
    padding: 0.5rem 1 rem;
    font-size: 20px;
    transition: color 0.25s;
    text-decoration: none;
}

nav a::after {
    position: absolute;
    content: "";
    inset: 0;
    background: #369fa4;
    scale: 1.5 0;
    z-index: -1;
    transition: 0.3s;
    border-radius: 10px;
}


nav a:hover {
    color: black; 
}

nav a:hover::after {
    scale: 1.5 1.5;
    background: #369fa4;     
}

h1 {
    text-align: center; 
    color: #369fa4;
    font-family: "Oswald", sans-serif;
    font-weight: 800;
    font-size: 4em;
    margin: 20px 10px;
}

h2 {
    text-align: center;
    padding-top: 50px;    
}

h3 {
    margin-bottom: 10px;
    color: #369fa4;
}

.header {
    background-size: cover;
    padding-top: 35px;    
}
.header1 {
    
    background-size: cover;
    padding-top: 35px;   
}

.insideAbout {
    display: grid;
    grid-template-columns: 0.2fr 0.5fr auto 0.2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 5px;
}

.myPhoto {
    width: 300px;
    height: 320px;
    justify-self: center;
    border-radius: 10%;
    filter: brightness(60%);
}

div div img {
   width: 50px;
    height: 50px;
    justify-self: center;
    border-radius: 10%;    
}

.cvButton {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;

}

.div1 {
    grid-area: 1 / 3 / 2 / 4; 
    justify-self: center;
}


.div1 ul {
    display: inline-grid;
    justify-self: center;
}

.skills {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: repeat(2, 0.5fr);
    grid-column-gap: 0px;
    grid-row-gap: 40px;  
}


.skillsinside {
   grid-area: 1 / 2 / 2 / 3;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;  
}
.skillNameHere {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    color: #fff;
}

.skillsinside .skill {
  position: relative;
  width: 100px;
  height: 100px;
  background: transparent;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 45px;
  border-radius: 10%; 
}
button {
    border-color: #369fa4;
}
.skillsinside:hover .skill {
    transform: rotateY(25deg);
  }
  .skillsinside .skill:hover ~ .skill {
    transform: rotateY(-25deg);
  }
  .skillsinside .skill:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 0 10px #369fa4;
  }
  .skillsinside .skill .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .skillsinside .skill .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
  }
  .skillsinside .skill:hover .imgBx:before {
    opacity: 1;
  }
  .skillsinside .skill .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.projects {
    display: grid;
    grid-template-columns: 0.2fr auto 0.2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;  
    
}
.projectsInside {
    grid-area: 1 / 2 / 2 / 3;   
    justify-content: center;
    display: grid;

}

.projectDiv {
    text-align: center;
    margin: 30px;

}

.projectDiv p {
    margin-top: 5px;
    color: #fff;
}


.projectImg {
    height: fit-content;
    width: 50%;
  border-radius: 0;
  opacity: 0.8;
} 

.projectImg:active {
    transform: scale(1.2, 1.2);
    transition: 0.4s ease;
  } 

 
  .scrollToTopBtn {
    background-color: transparent;
    border: none;
    color: #F2E5BD;
    cursor: pointer;
    font-size: 50px;
    width: 60px;
  
    /* place it at the bottom right corner */
    position: fixed;
    bottom: 40px;
    right: 40px;
    /* keep it at the top of everything else */
    z-index: 100;
    /* hide with opacity */
    opacity: 0;
    /* also add a translate effect */
    transform: translateY(100px);
    /* and a transition */
    transition: all 0.5s ease;
  }
  
  .showBtn {
    opacity: 1;
    transform: translateY(0);
  }
  

  

.tilt {
    display: block;
    width: 300px;
    height: 320px;
    margin: 0 0;
    transition: box-shadow 0.1s, transform 0.1s;
    border-radius: 10%;
  }
  
  .tilt:hover {
    box-shadow: 0px  0px 20px #369fa4;
    cursor: pointer;
    border-radius: 10%;
  }


  footer {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 0px;
    text-align: center;
    opacity: 0.8;
    font-size: medium;
    color: #Fff;
  }

  .contactsOut {
    height: 100dvh;
  }

.contacts {
    display: grid;
    grid-template-columns: 0.2fr auto 0.2fr;
    grid-template-rows: repeat(2, 0.5fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
}

.contactsInside {
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center; 
    column-gap: 30px;
    align-content: center;    
}

.contactsInside button {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #369fa4;
}

.contactsInside2 {
    grid-area: 2 / 2 / 3 / 3;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around; 
    align-content: center;
    flex-wrap: wrap;
}

#data {
    color: #369fa4;
}

  .conLogo {
    width: 75px;
    height: 75px;
  }

.conLogo:hover {
    background-color: #369fa4;
}


  /* If the screen size is 480px or less */
  @media only screen and (max-width: 480px) {
    
    body {
        font-size: 75%;
    }
    footer p {
        font-size: 60%;
    }
   
    
    .skills {
        grid-template-columns: 0.1fr auto 0.1fr;
        grid-template-rows: auto;
    }
    .skillsinside {
        grid-column: 2 / 3 ;
        grid-row: 1;

    }
    .skillsinside .skill {
        max-width: 20%;
        max-height: 15%;
        border-color: #3E402D;
    }
   
    .contacts {
        grid-template-columns: 20% 1fr 20%;
        grid-template-rows: 0.2fr auto 0.2fr auto 0.2fr;
    }

    .contactsInside, .contactsInside2 {
        grid-column: 1 / 4;
    }
    .conLogo {
        max-width: 60%;
        height: auto;
    }

    .insideAbout {
        grid-template-columns: 0.1fr auto 0.1fr;
        grid-template-rows: 12rem auto;
        
    }
    .cvButton {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin-bottom: 20px;
        
        display:flex;
        justify-content: center;
    }
    .myPhoto {
        max-width: 100%;
        max-height: 100%;
    }
    .tilt {
        width: 50%;
        height: 100%;
        
    }
    .div1 {
        grid-column: 2 / 3;
        grid-row: 2 / 2;
    }
    nav {
        justify-content: center;
        gap: 20px;
    }
    nav a {
        font-size: 100%;
    }
    
    
    .projects {
        display: grid;
        grid-template-columns: 0.1fr auto 0.1fr;
        grid-template-rows: 0.5fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;  
        
    }
    
    .projectDiv {
        margin: 0;
        height: fit-content;
    }
    
    .projectImg {
        height: inherit;
        max-width: 75%;
    }

  }


  


